
.header {
    background-color: rgba(138, 174, 237, 0.853);
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}

.header a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

.logo {
    width: 60px;
    height: 75px;
    filter: brightness(0) invert(1);
}

.navigation {
    margin-left: auto; 
}

hr{
    border:none;
    border-top:1px solid #6b60606a
}

h2 {
    margin-top: 50px;
    margin-bottom:10px; 
}

.add-button {
    background-color: rgba(138, 174, 237, 0.853); 
    color: white;
    border: none;
    padding: 5px 15px; 
    border-radius: 5px; 
}

.add-button:hover{
    background-color: #4874ce; 
}



table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

th, td {
    padding: 10px;
    text-align: left;
}

table, th, td {
    border: none;
}

.real-project {
    color: #747171; 
    font-weight: bold; 
    position: absolute;
    bottom: 0;
    text-align: center; 
    width: 100%; 
}

hr {
    border: none;
    border-top: 1px solid #999; 
    width: 100%; 
}



form {
    margin: 20px;
}

label {
    display: block; 
}

select {
    width: 42%;
    padding: 7px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 40%;
    padding: 7px;
    margin-bottom: 10px; 
}

#submit {
    background-color: rgba(138, 174, 237, 0.853);
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #4874ce;
}

#student-info {
    background-color: #ffffff; 
    border: 2px solid rgba(138, 174, 237, 0.853); 
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 18px; 
}

b {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.853); 
}

#button-container {
    display: flex;
    justify-content: center;
}

#edit-button, #delete-button {
    margin: 0 10px; 
}

.info-title{
    margin-left: 20px;
}


@media (max-width: 768px) {
    .header {
        display: block;
        text-align: center; 
    }

    .header a {
        display: inline; 
        margin: 10px; 

    .info-title{
        text-align:center;
    }
}
}


  